@import "./components/gmac.ui/_css.css";

@layer base {
  * {
    @apply border-gray-200 outline-gray-400/50 dark:border-gray-800 dark:outline-gray-600/50;
  }
  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@utility animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}
